*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.title {
    
    font-size: 50px;
    margin-bottom: 50px;
}

.background {
    height: 100vh;
    width: 100vw;
    background-color: green;
   text-align: center;
   padding-top: 100px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 244px;
    margin: 0 auto;
    margin-bottom: 50px;
    
}

.cell {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 50px;

}

.display {
    font-size: 24px;
    margin-bottom: 30px;
}
.hidden {
    display: none;
}

#restart {
    padding: 10px 15px;
    color: darkgreen;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
    border: none;
    outline: none;
}

#restart:hover {
    background-color: lightgreen;
}